body {
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    color: black;
}


button {
    padding: 10px 20px;
    background: #4682B4;
    border-radius: 5px;
    border: 2px solid #4682B4;
}

button:hover {
    background-color: white;
    color: #4682B4;
}

.event-button {
    color: white;
    font-size: 16px;
}

.form-input {
    margin-bottom: 10px;
}

.event-button.create {
    width: 40%;
}

input {
    width: 80%;
    outline: none;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 10px;
}

textarea {
    min-width:80vw;
    max-width:80vw;
    border: 1px solid silver;
    border-radius: 3px;
}

#meeting_description {
    min-height: 20vh;
    max-height: 20vh;
}

#meeting_theme {
    min-height: 5vh;
    max-height: 10vh;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border: 1px solid #4682B4;
    outline: none;
}

.input-group.date {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.input-group.date .form-control { width: 100%;}


.first-line {
    display: flex;
}

.first-line.title {
    width: 55%;
    display: flex;
    align-items: center;
}

.first-line.title h2 {
    margin: 15px auto;
}

.first-line.button {
    width: 45%;
    margin: 15px auto;
}

.meeting-table {
    width: 98%;
    align-items: center;
    padding-left: 2%;
}

th {
    text-align: center;
}