body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-background-color);
    font-family: Arial, Verdana, sans-serif;
}

#main {
    text-align: center;
}

button {
    padding: 10px 20px;
    color: white;
    background: #4682B4;
}

button:hover {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
}

.cart-item__button {
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #4682B4;
}

h1 {
    color: var(--tg-theme-text-color);
}

input {
    width: 80%;
    outline: none;
    padding: 12px;
    border: 1px solid silver;
    border-radius: 3px;
    font-size: 14px;
}

textarea {
    min-width:80vw;
    min-height: 20vh;
    border: 1px solid silver;
    padding: 12px;
    border-radius: 3px;
    font-size: 14px;
}
