*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Verdana, sans-serif;
}

body {
    background-color: var(--body-background-color);
}

p {
    color: var(--tg-theme-text-color)
}

button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    color: var(--tg-theme-button-color);
    background:
}

button:hover {
    background: var(--tg-theme-secondary-bg-color)
}